force-app/main/default/flows/deleteduplecey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assgn</name>
        <label>assgn</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>get_Rec_by_name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_rec_by_Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Rec_by_name</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>MergeRecords</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_Rec_by_name</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MergeRecords</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>deleteDuplicecy</name>
        <label>deleteDuplicecy</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>MergeRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Rec_by_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MergeRecords</assignToReference>
            <operator>RemoveUncommon</operator>
            <value>
                <elementReference>get_rec_by_Phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deletedduplececy</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>deleteduplecey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>deleteduplecey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Rec_by_name</name>
        <label>get Rec by name</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_rec_by_Phone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>aaa</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_rec_by_Phone</name>
        <label>get rec by Phone</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Acc_names</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>123456</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Acc_names</name>
        <label>Acc names</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_phone_Acc_id</targetReference>
        </connector>
        <fields>
            <name>GetAccountId</name>
            <fieldText>&lt;p&gt;{!get_Rec_by_name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Deletedduplececy</name>
        <label>Deletedduplececy</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assgn</targetReference>
        </connector>
        <fields>
            <name>Newids</name>
            <fieldText>&lt;p&gt;{!get_Rec_by_name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_phone_Acc_id</name>
        <label>Get phone Acc id</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>deleteDuplicecy</targetReference>
        </connector>
        <fields>
            <name>phoned</name>
            <fieldText>&lt;p&gt;{!get_rec_by_Phone}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Rec_by_name</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>MergeRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>storenamerec</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
