force-app/main/default/flows/duplicecy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>accn_ames_to_temp</name>
        <label>accn ames to temp</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>mulaccname</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>mulaccname</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>get_phone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>sort_ACCid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_prev_id</name>
        <label>assign prev id</label>
        <locationX>484</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>previd.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>check_acc_id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_acc_id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_prev_to_unique</name>
        <label>assign prev to unique</label>
        <locationX>440</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>uniquereclist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>check_acc_id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_prev_id</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>sort_ACCid</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>sort ACCid</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>mulaccname</collectionReference>
        <connector>
            <targetReference>Acc_Id</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Id</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>check_prev_id_equal_to_loop</name>
        <label>check prev id equal to loop</label>
        <locationX>484</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>previd.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>check_acc_id.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_prev_id</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>previd.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>check_acc_id.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_prev_to_unique</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>duplicecy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>duplicecy</label>
    <loops>
        <name>check_acc_id</name>
        <label>check acc id</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <collectionReference>mulaccname</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_prev_id_equal_to_loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Unique_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Name</name>
        <label>get Name</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_phone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>aaa</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_phone</name>
        <label>get phone</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>accn_ames_to_temp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>123456</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Acc_Id</name>
        <label>Acc Id</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>check_acc_id</targetReference>
        </connector>
        <fields>
            <name>AccountIDs</name>
            <fieldText>&lt;p&gt;{!mulaccname}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Unique_Id</name>
        <label>Unique Id</label>
        <locationX>176</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displaynqid</name>
            <fieldText>&lt;p&gt;{!uniquereclist}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Name</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>lastId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mulaccname</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>previd</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>prevvid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>uniquereclist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
