force-app/main/default/flows/objectandnum.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>conrec_to_conreclist</name>
        <label>conrec to conreclist</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>conrecordlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>conrecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>numberofrecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>opprec_to_oppreclist</name>
        <label>opprec to oppreclist</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>opprecordlist</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>opprecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>opp_of_numberofrecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>scree_rec_assign_to_conrec</name>
        <label>scree rec assign to conrec</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>conrecord.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactsname.firstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>conrecord.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contactsname.lastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>conrecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>conrec_to_conreclist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>screen_rec_assign_to_opprec</name>
        <label>screen rec assign to opprec</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>opprecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OPP_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opprecord.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Closed_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opprecord.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stage_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opprecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>opprec_to_oppreclist</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ContactChc</name>
        <choiceText>Contact</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>OpportunityChc</name>
        <choiceText>Opportunity</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>check_object_selection</name>
        <label>check object selection</label>
        <locationX>644</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>contactselect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Object_Select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ContactChc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>numberofrecords</targetReference>
            </connector>
            <label>contactselect</label>
        </rules>
        <rules>
            <name>opportunityselect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Object_Select</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>OpportunityChc</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>opp_of_numberofrecords</targetReference>
            </connector>
            <label>opportunityselect</label>
        </rules>
    </decisions>
    <decisions>
        <name>numberofrecords</name>
        <label>numberofrecords</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>createreccon</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>contactrecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Enter_number_of_records</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contactsw</targetReference>
            </connector>
            <label>contactrecords</label>
        </rules>
    </decisions>
    <decisions>
        <name>opp_of_numberofrecords</name>
        <label>opp of numberofrecords</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>createrecopp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>opprecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Enter_number_of_records</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunityw</targetReference>
            </connector>
            <label>opprecords</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>stagename</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>objectandnum {!$Flow.CurrentDateTime}</interviewLabel>
    <label>objectandnum</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createreccon</name>
        <label>createreccon</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <inputReference>conrecordlist</inputReference>
    </recordCreates>
    <recordCreates>
        <name>createrecopp</name>
        <label>createrecopp</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <inputReference>opprecordlist</inputReference>
    </recordCreates>
    <screens>
        <name>Contactsw</name>
        <label>Contacts</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>scree_rec_assign_to_conrec</targetReference>
        </connector>
        <fields>
            <name>contactsname</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_details</name>
        <label>Enter details</label>
        <locationX>644</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>check_object_selection</targetReference>
        </connector>
        <fields>
            <name>Object_Select</name>
            <choiceReferences>ContactChc</choiceReferences>
            <choiceReferences>OpportunityChc</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Object Select</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Enter_number_of_records</name>
            <dataType>Number</dataType>
            <fieldText>Enter number of records</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunityw</name>
        <label>Opportunity</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>screen_rec_assign_to_opprec</targetReference>
        </connector>
        <fields>
            <name>OPP_name</name>
            <dataType>String</dataType>
            <fieldText>OPP name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Closed_Date</name>
            <dataType>Date</dataType>
            <fieldText>Closed Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Stage_Name</name>
            <choiceReferences>stagename</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enter_details</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>conrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>conrecordlist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>opprecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opprecordlist</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
