force-app/main/default/flows/subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <choices>
        <name>Casesel</name>
        <choiceText>Case</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Contactsel</name>
        <choiceText>Contact</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opportunitysel</name>
        <choiceText>Opportunity</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </choices>
    <decisions>
        <name>selectionObject</name>
        <label>selectionObject</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contactsele</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contactsel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Select_Object_to_record</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCont</targetReference>
            </connector>
            <label>Contactsele</label>
        </rules>
        <rules>
            <name>oppsele</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Opportunitysel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Select_Object_to_record</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateOppor</targetReference>
            </connector>
            <label>oppsele</label>
        </rules>
        <rules>
            <name>casesele</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Casesel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Select_Object_to_record</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCase</targetReference>
            </connector>
            <label>casesele</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Select_object</name>
        <label>Select object</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>selectionObject</targetReference>
        </connector>
        <fields>
            <name>Select_Object_to_record</name>
            <choiceReferences>Contactsel</choiceReferences>
            <choiceReferences>Opportunitysel</choiceReferences>
            <choiceReferences>Casesel</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Object to record</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_object</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CreateCase</name>
        <label>CreateCase</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <flowName>caseUpdate</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>CreateCont</name>
        <label>CreateCont</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <flowName>creCon</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>CreateOppor</name>
        <label>CreateOppor</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <flowName>CreOpp</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
