force-app/main/default/flows/Task2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>AssgnListRecs</name>
        <label>AssgnListRecs</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>UploadFile</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>singleDataUpload</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getrecordsLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assgnSingleRecs</name>
        <label>assgnSingleRecs</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>singleDataUpload.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getrecordsLoop.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssgnListRecs</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Task2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task2</label>
    <loops>
        <name>getrecordsLoop</name>
        <label>getrecordsLoop</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>getMetadata</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assgnSingleRecs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createUpFile</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createUpFile</name>
        <label>createUpFile</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>UploadFile</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getMetadata</name>
        <label>getMetadata</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getrecordsLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.StageName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Custom_Metadata__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getMetadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>cusmetaname</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListofRecs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Custom_Metadata__c</objectType>
    </variables>
    <variables>
        <name>singleDataUpload</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document_Upload__c</objectType>
    </variables>
    <variables>
        <name>SingleRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Custom_Metadata__c</objectType>
    </variables>
    <variables>
        <name>UploadFile</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Document_Upload__c</objectType>
    </variables>
</Flow>
